@keyframes viewerShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes viewerHide {
	from {
		display: flex;
		opacity: 1;
	}

	to {
		display: initial;
		opacity: 0;
	}
}

#viewers:popover-open {
	display: flex;
	animation: viewerShow ease-in-out 200ms;
}

#viewers {
	animation: viewerHide ease-in-out 200ms;
}

body:has(.live) {
	height: 100svh;
	max-height: 100svh;
}
